<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="oiosaml:SqlServerSessionStoreProvider" connectionString="server=(localdb)\MSSQLLocalDB;database=OIOSAML;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="oiosaml:SqlServerSessionStoreProvider:CleanupIntervalSeconds" value="60"/>
    <add key="oiosaml:SqlServerSessionStoreProvider:DisableCleanup" value="false"/>
    <add key="oiosaml:SqlServerSessionStoreProvider:Schema" value="dbo"/>
  </appSettings>
  <log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\temp\log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss}-%m%n"/>
      </layout>
    </appender>
  </log4net>
  <location path="MyPage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- Session provider defaults to dk.nita.saml20.session.inproc.InProcSessions if sessionType is not defined. -->
  <!--<Federation auditLoggingType="dk.nita.saml20.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" xmlns="urn:dk.nita.saml20.configuration" sessionType="dk.nita.saml20.ext.sessionstore.sqlserver.SqlServerSessionStoreProvider, dk.nita.saml20.ext.sessionstore.sqlserver">-->
  <Federation auditLoggingType="dk.nita.saml20.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" sessionType="dk.nita.saml20.Session.InProcSessionStoreProvider, dk.nita.saml20" xmlns="urn:dk.nita.saml20.configuration">
    <SessionTimeout>30</SessionTimeout>
    <AllowedClockSkewMinutes>3</AllowedClockSkewMinutes>
    <PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
    <SigningCertificate findValue="a402bb172929ae0d0ada62f6864329c35dc29483" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <MetaDataShaHashingAlgorithm>SHA256</MetaDataShaHashingAlgorithm>
    <AllowedAudienceUris>
      <Audience>https://saml.oiosaml-net-nltt-599.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear/>
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20 "/>
      <add name="LogAction" type="WebsiteDemo.LogAction, WebsiteDemo"/>
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20"/>
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <MinimumAssuranceLevel>3</MinimumAssuranceLevel>
    <ShowError>true</ShowError>
    <ServiceProvider id="https://saml.oiosaml-net-nltt-599.dk" server="https://oiosaml-net.dk:20002">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0"/>
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1"/>
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception"/>
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata"/>
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>Nets DanID A/S</md:Company>
        <md:GivenName>Morten</md:GivenName>
        <md:SurName>Bech</md:SurName>
        <md:EmailAddress>mdbec@nets.eu</md:EmailAddress>
        <md:TelephoneNumber>4</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <!-- The attributes that the demonstration identity provider issues. -->
      <att name="urn:oid:2.5.4.4" isRequired="true"/>
      <att name="urn:oid:2.5.4.3" isRequired="true"/>
      <att name="urn:oid:0.9.2342.19200300.100.1.1" isRequired="true"/>
      <att name="urn:oid:0.9.2342.19200300.100.1.3" isRequired="true"/>
      <att name="dk:gov:saml:attribute:AssuranceLevel" isRequired="true"/>
      <att name="dk:gov:saml:attribute:SpecVer" isRequired="true"/>
      <!-- OIO SAML 2.0.9 attribute: <att name="urn:oid:2.5.4.5" isRequired="true"/> -->
      <!-- OIO SAML 2.0.9 attribute: <att name="dk:gov:saml:attribute:IsYouthCert" isRequired="true"/> -->
      <att name="dk:gov:saml:attribute:UniqueAccountKey" isRequired="false"/>
      <att name="dk:gov:saml:attribute:CvrNumberIdentifier" isRequired="false"/>
      <att name="urn:oid:2.5.4.10" isRequired="false"/>
      <att name="urn:oid:2.5.4.65" isRequired="false"/>
      <att name="urn:oid:1.3.6.1.4.1.1466.115.121.1.8" isRequired="false"/>
      <att name="dk:gov:saml:attribute:PidNumberIdentifier" isRequired="false"/>
      <att name="dk:gov:saml:attribute:RidNumberIdentifier" isRequired="false"/>
      <!-- OIO SAML 2.0.9 attribute: <att name="urn:oid:2.5.29.29" isRequired="true"/> -->
      <att name="dk:gov:saml:attribute:UserAdministratorIndicator" isRequired="false"/>
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="idp-metadata">
      <add id="https://saml.test-devtest3-nemlog-in.dk" ShaHashingAlgorithm="SHA256">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.DefaultCertificateSpecification, dk.nita.saml20"/>
        </CertificateValidation>
      </add>
      <add id="https://saml.test-nemlog-in.dk/" ShaHashingAlgorithm="SHA256">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.DefaultCertificateSpecification, dk.nita.saml20"/>
        </CertificateValidation>
      </add>
      <add id="https://oiosaml-demoidp.dk:20001/" ShaHashingAlgorithm="SHA512"/>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx"/>
  </SAML20Federation>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/login.ashx" name="DemoServiceProvider" timeout="30"/>
    </authentication>
    <sessionState mode="Off"/>
    <!--     
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true" targetFramework="4.7.2"/>
    <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="dk.nita.saml20" switchValue="Verbose">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
      <source name="dk.nita.saml20.auditLogger" switchValue="Information">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\saml2.tracelog"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>