<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        <add key="ServiceProviderEndpoint" value="https://oiosaml-net.dk:20002/login.ashx?cidp=https%3a%2f%2fsaml.devtest4-nemlog-in.dk&amp;forceAuthn=False&amp;isPassive=False" />
        <add key="IdpUsername" value="Tilo" />
        <add key="IdpPassword" value="Test1234" />
    </appSettings>
</configuration>